@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 226 3% 12.5%;  /* rgb(31,31,33) */
    --foreground: 0 0% 98%;
    --card: 226 3% 12.5%;  /* rgb(31,31,33) */
    --card-foreground: 0 0% 98%;
    --popover: 226 3% 12.5%;  /* rgb(31,31,33) */
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 226 3% 15%;  /* 약간 밝게 */
    --secondary-foreground: 0 0% 98%;
    --muted: 226 3% 15%;  /* 약간 밝게 */
    --muted-foreground: 0 0% 64.9%;
    --accent: 226 3% 15%;  /* 약간 밝게 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 3% 20%;  /* 약간 더 밝게 */
    --input: 226 3% 20%;  /* 약간 더 밝게 */
    --ring: 0 0% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
